[submodule "lvgl"]
	path = lvgl
	url = https://github.com/lvgl/lvgl.git

[submodule "src/paho.mqtt.embedded-c"]
	path = src/paho.mqtt.embedded-c
	url = https://github.com/eclipse/paho.mqtt.embedded-c.git
